@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    /* Grids */
    --main-grid: repeat(auto-fill, minmax(200px, 1fr));
    --second-grid: repeat(auto-fill, minmax(280px, 1fr));
    --third-grid: repeat(auto-fill, minmax(120px, 1fr));

    /* Font Sizes */
    --fsize10: 10.24px;
    --fsize12: 12.8px;
    --fsize14: 14px;
    --fsize16: 16px;
    --fsize18: 18px;
    --fsize20: 20px;
    --fsize25: 25px;
    --fsize31: 31.25px;
    --fsize39: 39.0.6px;
    --fsize48: 48.83px;

    /* Colors */
    --bDarkbg: #090a0e;
    --lbDarkbg: #1c1c1c;
    --blackblue: #10171f;
    --blackgreen: #0f1712;
    --bLightbg: #2f353e;
    --bgliDark: #151515;
    
    --whiteBg: #fff;
    --graybg: #eeeeee;
    --greenLL: #e1ece4;
    
    --graySh: #f6f5f8;
    --gray10: #fbfbfb;
    --gray20: #eaf7fb;
    --gray30: #f8fafb;
    --gray40: #e3e3e3;
    --gray50: #97a4b4;
    --gray90: #455362;
   
    --blueL: #10bcf6;
    --blueD: #156688;
    --blueP: #1977f2;
    --blueH: #5e7dfd;

    --orange: #ff823f;
    --pink: #ffa7a7;
    --pinkD: #d69cb2;
    --pinkH: #f56082;
    --pinkP: #748193;

    --green: #d0ead7;
    --greenL: #42b892;
    --gLightbg: #00aa91;
    --gLightbgD: #006556;
    --gLightbgL: #00d3b4;


    --yellowTr: #f9da7e40;
    --yellow10: #fdc211;
    --yellow20: #fdb717;
    --yellow30: #fbab16;
    --yellow40: #fb9817;
    --yellow50: #f7881d;
    --yellow60: #f5671f;
    --yellow70: #f55227;
    --yellow80: #ee4c1e;
    --yellow90: #f54627;
    --gold: #faa226;
    --gradientY19: linear-gradient(to right, var(--yellow10), var(--yellow90));
    --gradientY19D: linear-gradient(to bottom, var(--yellow10), var(--yellow90));
    --gradientY16: linear-gradient(to right, var(--yellow10), var(--yellow60));
    --gradientY16D: linear-gradient(to bottom, var(--yellow10), var(--yellow60));


    --ielts: #e31738;
    --red: #ff424d;
    --redD: #ff2933;
    --redT: #ff424bd5;
    --redF: #ff1521;

    --blue: #1073eb;
    --blueD: #0f59d6;
    --blueT: #114ccc;
    --blueF: #114ccc;

    --purpel: #9b59b6;
    --darkPurpel: #1a1715;
    --gradientPurpleLD: linear-gradient(to right, #7453db, #ba75f9);
    --gradientPurpleLD1: linear-gradient(to right, #684bd4, #a154f9);
    --gradientPurpleLD2: linear-gradient(to right, #593ebb, #9741fa);
    --gradientPurpleLD3: linear-gradient(to right, #583dbb, #9540f6);
    --gradientPurpleLD4: linear-gradient(to bottom, #583dbb, #9540f6);
    --purple01: #d7d0d9;
    --purple10: #fd78d2;
    --purple20: #a154f9;
    --purple30: #9d65ea;
    --purple40: #684bd4;
    --purple50: #ba75f9; 
    --purple60: #7453db; 
    --purple65: #82409d;
    --purple70: #6c5c7a; 
    --purple75: #2a2b2f;
    --purple80: #42354c;
    --purple90: #291f34; 

    /* Purple Theme */
    --grey10: #efefef;
    --grey30: #9b999a;
    --iPurple01: #eeecfe;
    --iPurple02: #e9e5ff;
    --iPurple03: #d9d4fb;
    --iPurple05: #bab3ee;
    --iPurple09: #9187d6;
    --iPurple30: #6b7cfc;
    --iPurpleD30: #194dbc;
    --iPurple50: #596cfd;
    --iPurple60: #5e63f9;
    --iPurple70: #4349f8;
    --iPurple80: #5d42f2;
    --iPurple85: #6723ce;
    --iPurple90: #5d42f1;
    --iPurple100: #5339e8;

    --iPurple60: #5e63f9;
    --iPurple100D: #3b20d4;
    
    --iPurpleGradientTR: linear-gradient(to left, var(--iPurple60), var(--iPurple90));
    --iPurpleGradientTR1: linear-gradient(to left, var(--iPurple30), var(--iPurple100));
    --iPurpleGradientTR1D: linear-gradient(to right, var(--iPurple70), var(--iPurple100D));
    --iPurpleGradientTR1D2: linear-gradient(to right, var(--iPurple100D), var(--iPurple70));
    --iPurpleGD: #20222e;
    --iPurpleD: #171057;


    --logogold30: #fdb913; 
    --logogold60: #f7941d;    
}




html, body{
    background-color: var(--graySh) !important;
    overflow-x: hidden !important;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
}
*{
    box-sizing: border-box;
    scrollbar-width: thin;
}
*:not(i), body, button, input, textarea, .option{
    font-family: 'Tajawal', sans-serif !important;
}
a{
    text-decoration: none !important;
}
ul,li{
    list-style: none;
}
i{
    padding: 0px;
}
.list {
    padding-right: 18px;
}
.list li{
    list-style:decimal !important;
}


@media (max-width: 600px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}


.is-size-55 {
    font-size: 1.15rem !important;
}
.tag.is-prpl {
    background: var(--iPurple80);
    color: var(--whiteBg);
    font-size: 13px;
    font-weight: 600;
}
img {
    height: auto;
    width: 100%;
}


.button.is-semismall {
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 600;
}

.button.is-prpl {
    /* background-color: var(--gold); */
    background-color: var(--iPurple90);
    border-color: transparent;
    color: #fff
}
.button.is-prpl[disabled] {
    background: var(--iPurple80);
}
.button.is-prpl.is-hovered, .button.is-prpl:hover {
    /* background-color: var(--yellow30); */
    background-color: var(--iPurple70);
    border-color: transparent;
    color: #fff
}
.button.is-prpl.is-focused, .button.is-prpl:focus {
    border-color: transparent;
    color: #fff
}
.button.is-prpl.is-focused:not(:active), .button.is-prpl:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(0, 45, 209, 0.25)
}
.button.is-prpl.is-active, .button.is-prpl:active {
    /* background-color: var(--yellow40); */
    background-color: var(--iPurple80);
    border-color: transparent;
    color: #fff
}
.button.is-prpl.is-outlined {
    background-color: var(--gray30);
    border-color: var(--iPurple90);
    color: var(--iPurple100);
    transition: 0.5s background-color, 0.5s color;
}
.button.is-prpl.is-outlined:hover {
    background-color: var(--iPurple90);
    border-color: var(--iPurple90);
    color: var(--gray30)
}

.fa-chevron-left {
    padding-right: 5px;
}
.fa-chevron-right {
    padding-left: 5px;
}

.has-text-purple {
    color: var(--iPurple80);
}

.is-size-55 {
    font-size: 1.12rem !important;
}







.smallNav{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: var(--gray10);
}
.arrow {
    font-size: 25px;
    display: block;
    position: relative;
}
.arrow:hover {
    color: var(--iPurple100);
}
.arrow:hover::after {
    opacity: 1;
}
.arrow::after {
    content: 'back';
    right: 20px;
    position: absolute;
    top: 2px;
    opacity: 0;
    transition: 0.5s opacity;
    font-size: 20px;
    font-weight: 500;
}
.quizBox.section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.quizBox .column{
    transition: 0.8s width;
}
.quizBox .sticksSideBar .burgerIcon {
  font-size: 24px;
  text-align: end;
  color: var(--iPurple80);
}
.quizBox .sticksSideBar .burgerIcon i{
    cursor: pointer;
}
.sticksSideBarContent{
    transition: 0.6s;
    max-height: calc(100% - 60px);
    overflow-y: auto;
    padding: 5px 10px 20px 5px;
    direction: ltr;
    text-align: start;
}
.quizBox .sticksSideBar.hide {
    width: 3.1%;
}
.quizBox .sticksSideBar.hide .sticksSideBarContent{
    opacity: 0;
}
.quizBox .column.quizData {
    /* height: calc(100vh - 60px);
    overflow-y: auto; */
}

.quizBox .quizData .point{
    padding-right: 5px;
}
.quizBox .quizData .queue{
    color: var(--iPurple80)
}
.quizBox .quizData .time {
    font-weight: 500 !important;
}


.quizBox .sticksSideBar {
    max-height: calc(100vh - 60px) !important;
}
.quizBox .sticksSideBar.hide .quistion{
    pointer-events: none;
}
.quizBox .sticksSideBarContent .quistion {
    background-color: var(--iPurple03);
    padding: 6px 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px !important;
    border: 2px solid var(--iPurple03);
}
.quizBox .sticksSideBarContent .quistion.active {
    color: #fff;
    background: var(--iPurpleGradientTR1D);
    font-weight: 600;
    padding: 8px 20px;
    border: none;
}
.quizBox .sticksSideBarContent .quistion.answered {
    color: #fff;
    background-color: var(--iPurpleGD);
    border: 2px solid var(--blue);
}



.quizBox .column .questionHolder {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 15px;
}
.quizBox .quizData .questionHolder img {
    margin-top: 1.5rem;
}
.quizBox .quizData .questionHolder label {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.4s;
}
.quizBox .quizData .questionHolder input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px;
}
.quizBox .quizData .questionHolder label.active {
    color: var(--iPurple70);
}



@media (max-width: 770px){
    .quizBox .sticksSideBar{
        max-height: 300px;
        height: 300px;
        width: 100%;
        transition: 0.8s height;
    }
    .quizBox .sticksSideBar.hide{
        width: 100%;
        height: 0px;
    }
    .quizBox .column .questionHolder {
        padding-right: 10px;
    }
    .quizBox .sticksSideBarContent {
        padding-right: 10px;
        padding-left: 0px;
    }
    .quizBox .column .questionHolder {
        max-height: calc(100vh - 250px);
    }
}

@media (max-width: 500px){
    .quizBox .is-flex.is-justify-content-space-between.controler.buttonato {
        flex-direction: column !important;
    }
    .quizBox .buttonato .button + .button {
        margin-top: 5px;
    }
    .quizBox .column{
        padding-left: 5px;
        padding-right: 2px;
    }
}























.footer {
    background-color: var(--graybg) !important;
    padding: 15px 30px !important;
}
.button.donate {
    letter-spacing: 1px;
    font-size: 1rem !important;
    height: 28px;
    font-weight: 600 !important;
    padding: 16px 10px;
    border-radius: 6px !important;
}
@media (max-width: 600px){
    .footer {
        padding: 10px 30px !important;
    }
    .flexBox{
        flex-direction: column !important;
    }
    .flexBox *:not(:last-child){
        margin-bottom: 2px;
    }
}